<!DOCTYPE html>
<html>
<head>
  <title>Validity</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :javascripts %>
</head>
<body>

<%= yield %>

</body>
</html>
